@page "/Cocobolo_Restricties"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toegankelijkheid</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top_blok">
        <button class="terug_knop">
            <img src="/images/TERUG_KNOP.png" alt="Terug_Knop" class="terug_knop" />
        </button>
        <img src="/images/BOVENSTUK.png" alt="Logo" class="logo" />
        <button class="navigatie_knop">
            <img src="/images/NAVIGATIE_KNOP.png" alt="Navigatie_Knop" class="navigatie_knop" />
        </button>
    </div>

    <div class="lijst_sectie">
        <img src="images/BORDER.png" alt="Border" class="Border" />
        <div class="witte_vlak">
            <div class="attractie_titel">
                <h1 class="toegankelijkheid_titel">Toegankelijkheid</h1>
                <div class="blauwe_onderlijning"></div>
                <div class="restricties">
                    <div class="rood_zwangerschap">
                        <img src="/images/ROOD_ZWANGERSCHAP.png" alt="Rood_Zwangerschap" class="rood_zwangerschap" />
                        <p>Niet toegankelijk voor zwangere personen.</p>
                    </div>
                    <div class="rood_klachten">
                        <img src="/images/ROOD_KLACHTEN.png" alt="Rood_Klachten" class="rood_klachten" />
                        <p>Niet betreden bij nek/rug/hartklachten en hoge bloeddruk.</p>
                    </div>
                    <div class="rood_125">
                        <img src="/images/ROOD_125.png" alt="Rood_125" class="rood_125" />
                        <p>Geen toegang onder 125cm.</p>
                    </div>
                    <div class="rood_gips">
                        <img src="/images/ROOD_GIPS.png" alt="Rood_Gips" class="rood_gips" />
                        <p>Niet toegankelijk met gips.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav_blok">
        <button class="kaart_knop">
            <div class="knop_plaatje">
                <img src="/images/KAART_ICON.png" alt="Kaart_Icon" class="kaart_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Kaart</strong></p>
            </div>
        </button>
        <button class="lijst_knop">
            <div class="knop_plaatje">
                <img src="/images/LIJST_ICON.png" alt="Lijst_Icon" class="lijst_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Lijst</strong></p>
            </div>
        </button>
        <button class="info_knop">
            <div class="knop_plaatje">
                <img src="/images/INFO_ICON.png" alt="Info_Icon" class="info_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Info</strong></p>
            </div>
        </button>
        <button class="ticket_knop">
            <div class="knop_plaatje">
                <img src="/images/TICKET_ICON.png" alt="Ticket_Icon" class="ticket_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Tickets</strong></p>
            </div>
        </button>
    </div>
</body>
</html>