@page "/Dwervelwind_Attractie"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dwervelwind</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top_blok">
        <button class="terug_knop">
            <img src="/images/TERUG_KNOP.png" alt="Terug_Knop" class="terug_knop" />
        </button>
        <img src="/images/BOVENSTUK.png" alt="Logo" class="logo" />
        <button class="navigatie_knop">
            <img src="/images/NAVIGATIE_KNOP.png" alt="Navigatie_Knop" class="navigatie_knop" />
        </button>
    </div>

    <div class="lijst_sectie">
        <div class="attractie_titel">
            <h1 class="dwervelwind_titel">Dwervelwind</h1>
            <img src="/images/ORANJE_STIP.png" alt="Oranje_Stip" class="oranje_stip" />
        </div>

        <div class="attractie_subtekst">
            <p class="dwervelwind_subtekst">Draaiende achtbaan</p>
            <p class="dwervelwind_subtekst">±25 minuten</p>
        </div>

        <div class="attractie_restricties">
            <img src="/images/C_RESTRICTIES.png" alt="D_Restricties" class="c_restricties" />
        </div>

        <div class="attractie_descriptie">
            <p class="dwervelwind_descriptietekst">
                Maak je klaar voor een wervelende avontuur. Hier ga je namelijk niet alleen vooruit,
                maar ook achteruit en draai je in de rondte als een échte wervelwind!
            </p>
        </div>

        <div class="attractie_meldingen">
            <button class="dwervelwind_meldingen_button">Meldingen aanzetten</button>
        </div>
    </div>

    <div class="nav_blok">
        <button class="kaart_knop">
            <div class="knop_plaatje">
                <img src="/images/KAART_ICON.png" alt="Kaart_Icon" class="kaart_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Kaart</strong></p>
            </div>
        </button>
        <button class="lijst_knop">
            <div class="knop_plaatje">
                <img src="/images/LIJST_ICON.png" alt="Lijst_Icon" class="lijst_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Lijst</strong></p>
            </div>
        </button>
        <button class="info_knop">
            <div class="knop_plaatje">
                <img src="/images/INFO_ICON.png" alt="Info_Icon" class="info_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Info</strong></p>
            </div>
        </button>
        <button class="ticket_knop">
            <div class="knop_plaatje">
                <img src="/images/TICKET_ICON.png" alt="Ticket_Icon" class="ticket_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Tickets</strong></p>
            </div>
        </button>
    </div>
</body>
</html>