* {
    margin: 0;
    padding: 0;
    max-width: 375px;
    max-height: 812px;
    box-sizing: border-box;
}

.body {
    width: 375px;
    height: 812px;
    display: flex;
    flex-direction: column;
}

.lijst_sectie {
    width: 100%;
    height: 491px;
    background-image: url("/images/RESTRICTIES_ACHTERGROND.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_blok {
    width: 100%;
    height: 170px;
    background-color: #2E2D53;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.logo {
    margin-bottom: 40px;
}

.terug_knop, .navigatie_knop {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terug_knop {
    background-color: white;
}

.attractie_titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.faq_titel {
    font-size: 43px;
    color: black;
    font-family: "Berkshire Swash", serif;
    -webkit-text-stroke: 0.25px white;
    margin-right: 75%;
}

.faq_opties > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.eerste_vraag, .tweede_vraag, .derde_vraag, .vierde_vraag, .vijfde_vraag, .zesde_vraag {
    background-color: #2E2D53;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    width: 305px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    font-family: "Inter", sans-serif;
}

.eerste_vraag {
    margin-top: 5%;
}

.nav_blok {
    width: 100%;
    height: 151px;
    background-color: #2E2D53;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.kaart_knop, .lijst_knop, .info_knop, .ticket_knop {
    width: 93.75px;
    height: 151px;
    background-color: #2E2D53;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-family: "Inter", sans-serif;
}

.kaart_icon, .lijst_icon, .info_icon, .ticket_icon {
    width: 50px;
    height: 50px;
}
