@page "/Lijst"
@using Toverland.Data
@using Toverland.Data.Models
@inject ApiService ApiService
@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lijst</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="top_blok">
    <img src="/images/BOVENSTUK.png" alt="Logo" class="logo" />
</div>

<div class="lijst_sectie">
    <h1 class="eerste_lijst_titel">Attracties</h1>
    @if (facilities == null)
    {
        <h1>Loading...</h1>
    }
    else
    {
        <div class="attracties_opties">
        @foreach (Facility facility in facilities)
        {
            @if (facility.Type == FacilityType.RIDE)
            {
                <a class="cocobolo_optie" @onclick='() => NavigateTo($"{facility.Id}")'>
                    <img src=@facility.ImageUrl alt="Mini_Cocobolo" class="mini_cocobolo"/>
                    <div class="attractie_titel">
                        <h1 class="cocobolo_titel">@facility.Title</h1>
                        <div class="attractie_subtekst">
                            <p class="cocobolo_subtekst">@facility.SubTitle</p>
                            <p class="cocobolo_subtekst">±@facility.WaitTime minuten</p>
                        </div>
                    </div>
                    @if (facility.State == State.Open)
                    {
                        <img src="/images/GROENE_STIP.png" alt="Groene_Stip" class="groene_stip"/>
                    } else if (facility.State == State.Closed)
                    {
                        <img src="/images/RODE_STIP.png" alt="Rode_Stip" class="rode_stip" />
                    } else if (facility.State == State.Maintenance)
                    {
                        <img src="/images/ORANJE_STIP.png" alt="Oranje_Stip" class="oranje_stip" />
                    }
                </a>
            }
        }
        <h1 class="tweede_lijst_titel">Eten</h1>
        @foreach (Facility facility in facilities)
        {
            @if (facility.Type == FacilityType.FOOD_DRINKS)
            {
                <a class="spirello_optie" @onclick='() => NavigateTo($"{facility.Id}")'>
                    <img src="/images/MINI_SPIRELLO.png" alt="Mini_Spirello" class="mini_spirello" />
                    <div class="attractie_titel">
                        <h1 class="spirello_titel">@facility.Title</h1>
                        <div class="attractie_subtekst">
                            <p class="spirello_subtekst">@facility.SubTitle</p>
                        </div>
                    </div>
                    <img src="/images/BLAUWE_STIP.png" alt="Blauwe_Stip" class="blauwe_stip" />
                </a>
            }
        }
    </div>
    }
</div>

<div class="nav_blok">
    <button class="kaart_knop" @onclick='() => NavigateTo("Kaart")'>
        <div class="knop_plaatje">
            <img src="/images/KAART_ICON.png" alt="Kaart_Icon" class="kaart_icon" />
        </div>
        <div class="knop_titel">
            <p><strong>Kaart</strong></p>
        </div>
    </button>
    <button class="lijst_knop" @onclick='() => NavigateTo("Lijst")'>
        <div class="knop_plaatje">
            <img src="/images/LIJST_ICON.png" alt="Lijst_Icon" class="lijst_icon" />
        </div>
        <div class="knop_titel">
            <p><strong>Lijst</strong></p>
        </div>
    </button>
    <button class="info_knop" @onclick='() => NavigateTo("Info")'>
        <div class="knop_plaatje">
            <img src="/images/INFO_ICON.png" alt="Info_Icon" class="info_icon" />
        </div>
        <div class="knop_titel">
            <p><strong>Info</strong></p>
        </div>
    </button>
    <button class="ticket_knop" @onclick='() => NavigateTo("Tickets")'>
        <div class="knop_plaatje">
            <img src="/images/TICKET_ICON.png" alt="Ticket_Icon" class="ticket_icon" />
        </div>
        <div class="knop_titel">
            <p><strong>Tickets</strong></p>
        </div>
    </button>
</div>
</body>
</html>


@code {

    private List<Facility> facilities;

    protected override async Task OnInitializedAsync()
    {
            facilities = await ApiService.GetFacilities();
            
            Console.WriteLine(facilities);
    }

    private void NavigateTo(string page)
    {
        NavigationManager.NavigateTo($"/{page}");
    }

}