@page "/Lijst"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lijst</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top_blok">
        <button class="terug_knop">
            <img src="/images/TERUG_KNOP.png" alt="Terug_Knop" class="terug_knop" />
        </button>
        <img src="/images/BOVENSTUK.png" alt="Logo" class="logo" />
        <button class="navigatie_knop">
            <img src="/images/NAVIGATIE_KNOP.png" alt="Navigatie_Knop" class="navigatie_knop" />
        </button>
    </div>

    <div class="lijst_sectie">
        <h1 class="eerste_lijst_titel">Attracties</h1>
        <div class="attracties_opties">
            <div class="cocobolo_optie">
                <img src="/images/MINI_COCOBOLO.png" alt="Mini_Cocobolo" class="mini_cocobolo" />
                <div class="attractie_titel">
                    <h1 class="cocobolo_titel">Coco Bolo</h1>
                    <div class="attractie_subtekst">
                        <p class="cocobolo_subtekst">Toren</p>
                        <p class="cocobolo_subtekst">±5 minuten</p>
                    </div>
                </div>
                <img src="/images/GROENE_STIP.png" alt="Groene_Stip" class="groene_stip" />
            </div>
            <div class="dwervelwind_optie">
                <img src="/images/MINI_DWERVELWIND.png" alt="Mini_Dwervelwind" class="mini_dwervelwind" />
                <div class="attractie_titel">
                    <h1 class="dwervelwind_titel">Dwervelwind</h1>
                    <div class="attractie_subtekst">
                        <p class="dwervelwind_subtekst">Draaiende achtbaan</p>
                        <p class="dwervelwind_subtekst">±25 minuten</p>
                    </div>
                </div>
                <img src="/images/ORANJE_STIP.png" alt="Oranje_Stip" class="oranje_stip" />
            </div>
            <div class="merlinsquest_optie">
                <img src="/images/MINI_MERLINSQUEST.png" alt="Mini_Merlinsquest" class="mini_merlinsquest" />
                <div class="attractie_titel">
                    <h1 class="merlinsquest_titel">Merlin's Quest</h1>
                    <div class="attractie_subtekst">
                        <p class="merlinsquest_subtekst">Boottocht met darkride</p>
                        <p class="merlinsquest_subtekst">±45 minuten</p>
                    </div>
                </div>
                <img src="/images/RODE_STIP.png" alt="Rode_Stip" class="rode_stip" />
            </div>
            <div class="pixarus_optie">
                <img src="/images/MINI_PIXARUS.png" alt="Mini_Pixarus" class="mini_pixarus" />
                <div class="attractie_titel">
                    <h1 class="pixarus_titel">Pixarus</h1>
                    <div class="attractie_subtekst">
                        <p class="pixarus_subtekst">Spannende vliegtuigmolen</p>
                        <p class="pixarus_subtekst">±50 minuten</p>
                    </div>
                </div>
                <img src="/images/RODE_STIP.png" alt="Rode_Stip" class="rode_stip" />
            </div>
            <div class="waterdwarfalley_optie">
                <img src="/images/MINI_WATERDWARFALLEY.png" alt="Mini_Waterdwarfalley" class="mini_waterdwarfalley" />
                <div class="attractie_titel">
                    <h1 class="waterdwarfalley_titel">Waterdwarf Alley</h1>
                    <div class="attractie_subtekst">
                        <p class="waterdwarfalley_subtekst">Interactieve kijktaferelen</p>
                        <p class="waterdwarfalley_subtekst">±0 minuten</p>
                    </div>
                </div>
                <img src="/images/GROENE_STIP.png" alt="Groene_Stip" class="groene_stip" />
            </div>
            <h1 class="tweede_lijst_titel">Eten</h1>
            <div class="spirello_optie">
                <img src="/images/MINI_SPIRELLO.png" alt="Mini_Spirello" class="mini_spirello" />
                <div class="attractie_titel">
                    <h1 class="spirello_titel">Spirello</h1>
                    <div class="attractie_subtekst">
                        <p class="spirello_subtekst">Take-away</p>
                        <p class="spirello_subtekst">Geopend vanaf 12.00</p>
                    </div>
                </div>
                <img src="/images/BLAUWE_STIP.png" alt="Blauwe_Stip" class="blauwe_stip" />
            </div>
        </div>
    </div>

    <div class="nav_blok">
        <button class="kaart_knop">
            <div class="knop_plaatje">
                <img src="/images/KAART_ICON.png" alt="Kaart_Icon" class="kaart_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Kaart</strong></p>
            </div>
        </button>
        <button class="lijst_knop">
            <div class="knop_plaatje">
                <img src="/images/LIJST_ICON.png" alt="Lijst_Icon" class="lijst_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Lijst</strong></p>
            </div>
        </button>
        <button class="info_knop">
            <div class="knop_plaatje">
                <img src="/images/INFO_ICON.png" alt="Info_Icon" class="info_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Info</strong></p>
            </div>
        </button>
        <button class="ticket_knop">
            <div class="knop_plaatje">
                <img src="/images/TICKET_ICON.png" alt="Ticket_Icon" class="ticket_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Tickets</strong></p>
            </div>
        </button>
    </div>
</body>
</html>