@page "/Login_Scherm"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top_blok">
        <img src="/images/BOVENSTUK.png" alt="Logo" class="logo" />
    </div>

    <div class="lijst_sectie">
        <div class="attractie_titel">
            <img src="/images/TOVERLAND_BEGINLOGO.png" alt="Toverland_Beginlogo" class="toverland_beginlogo" />
            <div class="inlog_opties">
                <div class="grotere_tekst">
                    <p>Welkom!</p>
                </div>
                <div class="kleinere_tekst">
                    <p>Vul jouw email in om in te loggen.</p>
                </div>
                <form>
                <input type="email" id="email" name="email" placeholder="E-mailadres">
                </form>
                <form>
                    <input type="password" id="wachtwoord" name="wachtwoord" placeholder="Wachtwoord">
                </form>
                <a class="eerste_button" href="/Kaart">
                    <button class="inloggen_button">Inloggen</button>
                </a>
                <a class="kleinere_tekst" href="/">
                    <p>Heb je geen account? Meld aan.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="nav_blok">
    </div>
</body>
</html>