@page "/"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top_blok">
        <img src="/images/BOVENSTUK.png" alt="Logo" class="logo" />
    </div>

    <div class="lijst_sectie">
        <div class="attractie_titel">
            <h1 class="tickets_titel">Toverland</h1>
            <div class="tickets_opties">
                <div class="grotere_tekst">
                    <p><strong>Creëer een account!</strong></p>
                </div>
                <div class="kleinere_tekst">
                    <p>Vul jouw email in om aan te melden.</p>
                </div>
                <div class="eerste_button">
                    <button class="tickets_toevoeg_button">Voeg tickets toe</button>
                </div>
                <div class="tweede_button">
                    <button class="tickets_vl_button">Aanmelden</button>
                </div>
            </div>
        </div>
    </div>

    <div class="nav_blok">
    </div>
</body>
</html>