* {
    margin: 0;
    padding: 0;
    max-width: 375px;
    max-height: 812px;
    box-sizing: border-box;
}

.body {
    width: 375px;
    height: 812px;
    display: flex;
    flex-direction: column;
}

.lijst_sectie {
    width: 375px;
    height: 491px;
    background-image: url("/images/S_ACHTERGROND.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.top_blok {
    width: 375px;
    height: 170px;
    background-color: #2E2D53;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.logo {
    margin-bottom: 40px;
}

.terug_knop, .navigatie_knop {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terug_knop {
    background-color: white;
}

.navigatie_knop {
    background-color: #de3c19;
}

.attractie_titel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 45%;
    margin-top: 5%;
}

.spirello_titel {
    font-size: 28px;
    color: black;
    font-family: "Berkshire Swash", serif;
    -webkit-text-stroke: 0.25px white;
}

.attractie_subtekst {
    font-size: 16px;
    color: #4240A6;
    font-family: "Berkshire Swash", serif;
    -webkit-text-stroke: 0.10px white;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    margin-top: 2%;
}

.attractie_descriptie {
    font-size: 16px;
    color: #4240A6;
    font-family: "Jaqcues Francois", serif;
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    line-height: 150%;
    margin-top: 10%;
}

.spirello_meldingen_button {
    background-color: #2E2D53;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin-left: 48.50%;
    margin-top: 5%;
}

.nav_blok {
    width: 375px;
    height: 151px;
    background-color: #2E2D53;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.kaart_knop, .lijst_knop, .info_knop, .ticket_knop {
    width: 93.75px;
    height: 151px;
    background-color: #2E2D53;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.kaart_icon, .lijst_icon, .info_icon, .ticket_icon {
    width: 50px;
    height: 50px;
}