@page "/Tickets"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="top_blok">
        <img src="/images/BOVENSTUK.png" alt="Logo" class="logo" />
    </div>

    <div class="lijst_sectie">
        <div class="attractie_titel">
            <h1 class="tickets_titel">Tickets</h1>
            <div class="tickets_opties">
                <div class="grotere_tekst">
                    <p>Mijn tickets & reserveringen</p>
                </div>
                <div class="kleinere_tekst">
                    <p>Log in om je eigen tickets en reserveringen te zien.</p>
                </div>
                <div class="eerste_button">
                    <button class="tickets_toevoeg_button">Voeg tickets toe</button>
                </div>
                <div class="tweede_button">
                    <button class="tickets_vl_button">Sluit aan in de Virtuele Rij</button>
                </div>
            </div>
        </div>
    </div>

    <div class="nav_blok">
        <button class="kaart_knop" onclick="navigateTo('Kaart')">
            <div class="knop_plaatje">
                <img src="/images/KAART_ICON.png" alt="Kaart_Icon" class="kaart_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Kaart</strong></p>
            </div>
        </button>
        <button class="lijst_knop" onclick="navigateTo('Lijst')">
            <div class="knop_plaatje">
                <img src="/images/LIJST_ICON.png" alt="Lijst_Icon" class="lijst_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Lijst</strong></p>
            </div>
        </button>
        <button class="info_knop" onclick="navigateTo('Info')">
            <div class="knop_plaatje">
                <img src="/images/INFO_ICON.png" alt="Info_Icon" class="info_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Info</strong></p>
            </div>
        </button>
        <button class="ticket_knop" onclick="navigateTo('Tickets')">
            <div class="knop_plaatje">
                <img src="/images/TICKET_ICON.png" alt="Ticket_Icon" class="ticket_icon" />
            </div>
            <div class="knop_titel">
                <p><strong>Tickets</strong></p>
            </div>
        </button>
    </div>

    <script>
        function navigateTo(page) {
            window.location.href = `/${page}`;
        }
    </script>

</body>
</html>